* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: cornflowerblue;
}

.heart {
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}