* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 550px;
    height: 500px;
    object-fit: cover;
}

.container {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 550px;
    overflow: hidden;
}

.img_container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}