@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: rgb(196, 252, 238);
  background-image: linear-gradient(
    315deg,
    rgb(196, 252, 238) 0%,
    #f5f7fa 100%
  );
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quizContainer {
  background-color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 10px 8px rgba(63, 62, 62, 0.1);
}

.selection {
  margin: 40px 25px;
  width: 600px;
}

.selection h2 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1.5px;
  padding: 0 15px;
  font-family: 'Rokkitt', serif;
}

.option ul li {
  padding: 10px 0;
  font-size: 1.3rem;
  font-family: 'Rokkitt', serif;
}

.option ul li label {
  cursor: pointer;
}

.quizContainer .submit button {
  width: 100%;
  font-size: 1.3rem;
  padding: 17px;
  border: none;
  border-radius: 0 0 7px 7px;
  color: white;
  background-color: blueviolet;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.quizContainer .submit button:hover {
  background-color: #732d91;
}

.quizContainer .submit button:focus {
  outline: none;
}
.quizContainer .submit button:active {
  background-color: #5e3370;
}
